<%- include('../partials/header'); %>

<main class="main main-hits-single-season container">
    <h2 class="main-h2 text-center">
        <%= name %>
    </h2>
    <section class="section section-hits-single-season">
        <div class="row">
            <% data.forEach(item=> { %>
                <div class="col-md-4">
                    <figure class="figure figure-hits-single-season">
                        <figcaption class="figcaption figcap-hits-single-season">
                            <u>Name:</u> <%= item.Player %>
                        </figcaption>
                        <figcaption class="figcaption figcap-hits-single-season">
                            <u>Age(At Time Of Year):</u> <%= item.AgeThatYear %>
                        </figcaption>
                        <figcaption class="figcaption figcap-hits-single-season">
                            <u>Number Of Hits:</u> <%= item.Hits %>
                        </figcaption>
                        <figcaption class="figcaption figcap-hits-single-season">
                            <u>Year:</u> <%= item.Year %>
                        </figcaption>
                        <figcaption class="figcaption figcap-hits-single-season">
                            <u>Bats (Left/Right Handed):</u> <%= item.Bats %>
                        </figcaption>
                        <figcaption class="figcaption figcap-hits-single-season">
                            <u>Ranks:</u> <%= item.Rank %>
                        </figcaption>
                    </figure>
                </div>
                <% }) %>
        </div>
    </section>
</main>

<%- include('../partials/footer'); %>