<%- include('../partials/header'); %>

<main class="main main-rbi-single-season container">
    <h2 class="main-h2 text-center">
        <%= name %>
    </h2>
    <section class="section section-rbi-season">
        <div class="row">
            <% data.forEach(item=> { %>
                <div class="col-md-2">
                    <figure class="figure figure-rbi-season">
                        <figcaption class="figcaption figcap-rbi-season">
                            <u>Name:</u> <%= item.Player %>
                        </figcaption>
                        <figcaption class="figcaption figcap-rbi-season">
                            <u>Age:</u> <%= item.YearsAge %>
                        </figcaption>
                        <figcaption class="figcaption figcap-rbi-season">
                            <u>RBIs:</u> <%= item.RBIs %>
                        </figcaption>
                        <figcaption class="figcaption figcap-rbi-season">
                            <u>Bats:</u> <%= item.Bats %>
                        </figcaption>
                        <figcaption class="figcaption figcap-rbi-season">
                            <u>Rank:</u> <%= item.Rank %>
                        </figcaption>
                    </figure>
                </div>
                <% }) %>
        </div>
    </section>
</main>

<%- include('../partials/footer'); %>